.fade {
    height: 100%;
}
.c-body {
    width: 100%;
    height: 100%;
    padding: 10px;
    .Users {
        width: 100%;
        height: 100%;
        .card {
            width: 100%;
            height: 100%;
        }
    }
}
